(
  axes: {
    "vertical": Emulated(pos: Key(W), neg: Key(S)),
    "horizontal": Emulated(pos: Key(D), neg: Key(A)),
  },
  actions: {
    "attack": [ [Key(Space)] ],
    "select": [ [Key(Space)] ],
    "back_to_menu": [ [Key(Escape)]]
  },
)