(
  spritesheet_width: 320,
  spritesheet_height: 320,
  sprites: [
    (
      x: 5,
      y: 1,
      width: 20,
      height: 31,
    ),
    (
      x: 37,
      y: 1,
      width: 20,
      height: 31,
    ),
    (
      x: 69,
      y: 1,
      width: 20,
      height: 31,
    ),
    (
      x: 101,
      y: 1,
      width: 20,
      height: 31,
    ),
    (
      x: 133,
      y: 1,
      width: 20,
      height: 31,
    ),
    (
      x: 165,
      y: 1,
      width: 20,
      height: 31,
    ),
    (
      x: 197,
      y: 1,
      width: 20,
      height: 31,
    ),
    (
      x: 229,
      y: 1,
      width: 20,
      height: 31,
    ),
    (
      x: 261,
      y: 1,
      width: 20,
      height: 31,
    ),
    (
      x: 293,
      y: 1,
      width: 20,
      height: 31,
    ),



    (
      x: 5,
      y: 65,
      width: 20,
      height: 31,
    ),
    (
      x: 37,
      y: 65,
      width: 20,
      height: 31,
    ),
    (
      x: 69,
      y: 65,
      width: 20,
      height: 31,
    ),
    (
      x: 101,
      y: 65,
      width: 20,
      height: 31,
    ),
    (
      x: 133,
      y: 65,
      width: 20,
      height: 31,
    ),
    (
      x: 165,
      y: 65,
      width: 20,
      height: 31,
    ),
    (
      x: 197,
      y: 65,
      width: 20,
      height: 31,
    ),
    (
      x: 229,
      y:65,
      width: 20,
      height: 31,
    ),
    (
      x: 261,
      y: 65,
      width: 20,
      height: 31,
    ),
    (
      x: 293,
      y: 65,
      width: 20,
      height: 31,
    ),



    (
      x: 5,
      y: 97,
      width: 20,
      height: 31,
    ),
    (
      x: 37,
      y: 97,
      width: 20,
      height: 31,
    ),
    (
      x: 69,
      y: 97,
      width: 20,
      height: 31,
    ),
    (
      x: 101,
      y: 97,
      width: 20,
      height: 31,
    ),
    (
      x: 133,
      y: 97,
      width: 20,
      height: 31,
    ),
    (
      x: 165,
      y: 97,
      width: 20,
      height: 31,
    ),
    (
      x: 197,
      y: 97,
      width: 20,
      height: 31,
    ),
    (
      x: 229,
      y: 97,
      width: 20,
      height: 31,
    ),
    (
      x: 261,
      y: 97,
      width: 20,
      height: 31,
    ),
    (
      x: 293,
      y: 97,
      width: 20,
      height: 31,
    ),
  ],
)